:root {
    --red: #cb3140;
    --red-hover: #dc3545;
    --blue: #0d6efd;
    --blue-hover: #0c64e5;
    --green: #198754;
    --green-hover: #177f4f;
    --error-success-container-placement: 100px;
}

/* Error and Success styles */

.floating-error {
    position: fixed;
    font-size: 20px;
    right: 10px;
    top: var(--error-success-container-placement);
    width: fit-content;
    background-color: var(--red);
    padding: 10px 50px;
    border: 5px solid var(--red-hover);
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    z-index: 1;
}

.floating-error-btn {
    font-size: 30px;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    transition: 200ms;
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.floating-error-btn:hover {
    background-color: var(--red-hover);
}

.floating-success {
    position: fixed;
    font-size: 20px;
    right: 10px;
    top: var(--error-success-container-placement);
    width: fit-content;
    background-color: var(--green);
    padding: 10px 50px;
    border: 5px solid var(--green-hover);
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    z-index: 1;
}

.floating-success-btn {
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    transition: 200ms;
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.floating-success-btn:hover {
    background-color: var(--green-hover);
}


/* Hero Image Upload */

.hero-img-container {
    width: 100%;
    height: 200px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img-container h2 {
    color: white;
    text-transform: uppercase;
}

.hero-img-upload {
    max-width: 70%;
}

.hide {
    display: none;
}

.hero-upload-btn *,
.registration-image-upload-btn * {
    margin: 0px 10px
}

/* Registration Update */
.registration-input {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#registration-state-result-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.registration-success {
    background-color: var(--green);
    width: 200px;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
}

.registration-error {
    background-color: var(--red);
    width: 200px;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
}

#registration-btn {
    text-transform: uppercase;
}

.section-1-input-container {
    width: 70%;
    margin-top: 10px;
}

.section-1-input-container * {
    margin-top: 10px;
}

.registration-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form {
    width: 80%;
}

.registration-info-image-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-edit-section {
    width: 100%;
    height: auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card-reset-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-form {
    width: 70%;
}

.card-close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
}

.regulation-rules-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.regulation-rules-input {
    width: 70% !important;
    margin: 5px;
}

.registration-date-form * {
    margin: 10px;
}

.field-img-submit-container * {
    margin: 5px;
}

.ad-form {
    padding: 20px;
    width: 100%;
    border: 2px solid black;
}

.director,
.past_president {
    background: none;
    border: none;
    transition: 200ms;
}

.director:hover,
.past_president:hover {
    color: var(--blue);
    font-size: 18px;
}

/* Login in Page */

.admin-navbar {
    height: 100px;
    background-color: blue;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.admin-navbar img {
    margin-right: 20px;
}

.admin-navbar h1 {
    color: white;
}

.admin-login-form {
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/AdobeStock_371866499.jpeg");
    background-size: cover;
}

.admin-login-form form {
    width: 40%;
    height: 50%;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 10px 10px 30px -9px black;
    background: linear-gradient(160deg, rgba(184,38,53,1) 0%, rgba(239,9,31,1) 26%, rgba(255,0,25,1) 48%, rgba(228,11,32,1) 68%, rgba(161,38,50,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.admin-login-form h1 {
    color: white;
}

.admin-login-form h3 {
    color: white;
}

.admin-login-form form input {
    width: 100%;
    margin-bottom: 20px;
}

.admin-login-form center {
    width: 60%;
}

@media screen and (max-width: 1600px) {

    .admin-login-form form {
        width: 60%;
    }
    
}

@media screen and (max-width: 960px) {

    .admin-login-form form {
        width: 90%;
    }

    .admin-login-form center {
        width: 90%;
    }
    
}